{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}LOGIN{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <br><br>
            <div class="col s1 m3 l3 xl3"></div>
            <div class="col s10 m6 l6 xl6 card hoverable">

                {% if form.non_field_errors %}
                <br><br>
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ error }}
              {% endfor %}
                    <br><br>
            {% endif %}

              <h3 class="center">{% trans 'Log in' %}</h3>
              <form method="post" action="{% url 'login' %}" role="form">
                {% csrf_token %}
                <div class="input-field{% if form.username.errors %} has-error{% endif %}">
                  <label for="username" class="active">{% trans 'Username' %}</label>
                  <input type="text" class="form-control" id="username" name="username">

                  {% for error in form.username.errors %}
                    <span class="red-text">{{ error }}</span><br>
                  {% endfor %}
                </div>
                <div class="input-field{% if form.password.errors %} has-error{% endif %}">
                  <label for="password" class="active">{% trans 'Password' %}</label>
                  <input type="password"  id="password" name="password">
                  {% for error in form.password.errors %}
                    <span class="red-text">{{ error }}</span><br>
                  {% endfor %}
                </div>
                        <button type="submit" class="btn waves-effect waves-light">{% trans 'Log in' %}</button>
                  <br><br><br>
              </form>
          </div>

            </div>
            <div class="col s1 m3 l3 xl3"></div>

        </div>
        <div class="row center-align" style="margin: 1px">
        <h5 style="margin-left: 0%">Or continue with : </h5>
    </div>

         <div class="row" style="margin: 1px">
        <div class="col s1 m1 l1 xl1"></div>
        <div class="col s10 m10 l10 xl10">

            <div class="row">
        <div class="col s12 m3 l3 xl3">
                 <div>
                        <a href="{% url 'social:begin' 'github' %}"><button class="btn black lighten-3 white-text btn-block "><span class="fa fa-github" style="text-transform: lowercase"> |  GitHub</span></button></a>
                    </div>
        </div>
        <div class="col s12 m3 l3 xl3">
            <div>
                    <a href="{% url 'social:begin' 'twitter' %}"><button class="btn btn-info blue white-text btn-block"><span class="fa fa-twitter" style="text-transform: lowercase"> |  Twitter</span></button> </a>
                </div>
        </div>
        <div class="col s12 m3 l3 xl3">
            <div>
                      <a href="{% url 'social:begin' 'facebook' %}"><button class="btn btn-primary btn-block"><span class="fa fa-facebook" style="text-transform: lowercase"> |  Facebook</span></button></a></div>
        </div>
        <div class="col s12 m3 l3 xl3">
            <div>
                        <a href="{% url 'social:begin' 'google-oauth2' %}"> <button class="browser-default btn btn-danger btn-block"><span class="fa fa-google-plus" style="text-transform: lowercase"> |  google</span> </button> </a>
                </div>
        </div>
    </div>
        </div>
        <div class="col s1 m1 l1 xl1"></div>
    </div>
    </div>

    <script>
        $('.modal').modal();

    </script>

{% endblock body %}
