{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block title %}Edit Profile{% endblock %}


{% block body %}

    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="/static/library/css/jquery.cropper.min.css" rel="stylesheet">

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col s1 m3 l3 xl3"> </div>
            <div class="col s10 m6 l6 xl6 card hoverable">
                <br>
                <h5 class="center">Edit your profile</h5>
                <form action="/{{request.user.username}}/edit/" method="post" role="form" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class=" input-field">
                        {{ field }}
                        <label for="{{ field.label }}" class="active" >{{ field.label }} </label>
                        {% if field.help_text %}
                            <span>{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <label id = "control-label">{{ error }}</label>
                        {% endfor %}
                    </div>
                    {% endfor %}
                <input type="text" name="imageX" id="imageX" hidden="hidden" title="imageX" >
                <input type="text" name="imageY" id="imageY" hidden="hidden" title="imageY" >
                <input type="text" name="imageH" id="imageH" hidden="hidden" title="imageH" >
                <input type="text" name="imageW" id="imageW" hidden="hidden" title="imageW">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Save' %}</button>
                    <br><br>
                </form>
            </div>
            <div class="col s1 m3 l3 xl3"></div>
        </div>


        <div class="modal" id="modalCropper">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 m3 l4 xl4">
                        Adjust your new profile pic in the cropper and the save your new profile pic.
                    </div>
                    <div class="col s12 m5 l5 xl5 center center-align" style="padding: 1px">
                        <div id="cropper" class="my-cropper" style="max-width: 100%; padding: 1px;">

                        </div>
                        <br><br>
                    </div>
                    <div class="col s12 m3 l3 xl3">
                        <button type="submit" class="btn" id="saveCroppedImage">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- Load the cropper code. -->
    <script src="/static/library/js/jquery.cropper.min.js"></script>
    <script>

    var unsavedChanges = false;
    var imageUploaded = false;
    var imageAspectRatio, imageX, imageY, imageW, imageH;
    $(function () {

        $('.modal').modal({
        dismissible: false, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        // alert("Ready");
        //// console.log(modal, trigger);
      },
      complete: function() {
        //    alert('Closed');
        } // Callback for Modal close
    }
  );

        var File = $('input[type="file"]');
        var Parent = File.parent();
        Parent.addClass('file-field');
        // console.log(Parent.children());
        var Children = Parent.children();
        Children[1].remove();
        var str = Parent.html();
        var newStr = '';
        newStr += '<div class="btn"> ' +
        '<span>Upload Photo</span>';
        newStr += str;
        newStr += '</div>' + '<div class="file-path-wrapper">' +
        '<input class="file-path validate" type="text">' +
      '</div>';
        Parent.html(newStr);

        imageX = $('#imageX');
        imageY = $('#imageY');
        imageW = $('#imageW');
        imageH = $('#imageH');

           $("#cropper").cropper({
                change: function(evt, data) {
                    imageX.val(data.x);
                    imageY.val(data.y);
                    imageW.val(data.w);
                    imageH.val(data.h);
            },
               aspectRatio : 1.00
           });

        $("input[type=file]").change(function (evt)
        {

            if(evt.target.files.length !== 0)
            {
                $('#modalCropper').modal('open');
            //    // console.log(evt.target.files);
                $("#cropper").cropper("loadImage", evt.target.files);
                imageUploaded = true;
            }
            else
            {
                imageUploaded = false;
            }
        });
        $('#saveCroppedImage').click(function ()
        {

            $('#modalCropper').modal('close');
        });
    });
    </script>
{% endblock body %}
