{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block title %}Edit Profile{% endblock %}


{% block body %}

    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link href="/static/library/css/jquery.cropper.min.css" rel="stylesheet">

    <div class="container">
        <br><br>
        <div class="row">
            <div class="col s1 m3 l3"> </div>
            <div class="col s10 m6 l6 card hoverable">
                <br>
                <h5 class="center">Edit your profile</h5>
                <form action="/{{request.user.username}}/edit/" method="post" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class=" input-field">
                        {{ field }}
                        <label for="{{ field.label }}" class="active" >{{ field.label }} </label>
                        {% if field.help_text %}
                            <span>{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <label id = "control-label">{{ error }}</label>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Save' %}</button>
                    <br><br>
                </form>
            </div>
            <div class="col s1 m3 l3"></div>
        </div>


        <div class="modal" id="modalCropper">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 m3 l4"></div>
                    <div class="col s12 m5 l5 center center-align">
                        <div id="cropper" class="my-cropper">

                        </div>
                        <br><br>
                    </div>
                    <div class="col s12 m3 l3">
                        <button class="btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

    <!-- Load the cropper code. -->
    <script src="/static/library/js/jquery.cropper.min.js"></script>
    <script>
    $(function () {

        $('.modal').modal();



        var File = $('input[type="file"]');
        var Parent = File.parent();
        Parent.addClass('file-field');
        console.log(Parent.children());
        var Children = Parent.children();
        Children[1].remove();
        var str = Parent.html();
        var newStr = '';
        newStr += '<div class="btn"> ' +
        '<span>Upload Photo</span>';
        newStr += str;
        newStr += '</div>' + '<div class="file-path-wrapper">' +
        '<input class="file-path validate" type="text">' +
      '</div>';
        Parent.html(newStr);



           $("#cropper").cropper({                 // initialize our cropper
                change: function(evt, data) {       // declare the function to be executed when something changes
                    console.log(data);
            },
               aspectRatio : 0.75


           });


        $("input[type=file]").change(function (evt)
        {
            $('#modalCropper').modal('open');
            $("#cropper").cropper("loadImage", evt.target.files);

        });


    });
    </script>
{% endblock body %}
