{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Home{% endblock %}

{% block body %}
<style>
    .row
    {
        margin: 0px;  !important;
        padding: 0px;  !important;
    }
    .btn
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    p
    {
        margin: 0px;
        padding: 0px;
    }
    .comments_div_p
    {
        max-height: 200px;
        overflow-y: scroll;
    }
    .commentsListItem
    {
        max-width: 100%;
      /*  word-break: break-all;*/
        word-wrap: break-word;
        padding: 1px;
        margin: 1px;
    }
    .comments_inside_div
    {
        height: 100%;
        padding: 1px;
        vertical-align: middle;
    }
    .btn-floating
    {
        margin: 1px;
    }
    .modalD
    {
        padding: 2px;
        word-wrap: break-word;
        max-width: 100%;
        display: block;
        height: 100%;
        text-transform: none;
    }
</style>

{% for ITEM in all_links %}
<div class="container" style="padding: 0px;" >
    <div class="row" style="padding: 0px; margin: 0px">
        <div class="col s12 m1 l3 xl3"></div>
        <div class="col s12 m10 l6 xl6 link_card" id="{{ ITEM.link.id }}">
            <ul class="collection hoverable "  style="border: 1px solid #607d8b" id="list">
                <li class="collection-item avatar">
                    <div class="row"  style="padding: 0px; margin: 0px">
                        <!-- user avatar -->
                        <img class="responsive-img circle"  height = "40px" width="40px" src="{{ITEM.link.user.profile.pic}}" />
                        <div class="row">
                            <div class="col s12 m4 l4 xl4">
                                <span class="title blue-grey-text ">{{ ITEM.link.user }}<br/>
                        <sup>{{ ITEM.time }}</sup></span>
                        <br><br>
                            </div>
                           <div class="col s12 m8 l8 xl8 right right-align hide-on-med-and-down" id="icons_extra" style="margin: 0px; padding: 0px">


                   <div class="row right right-align" style="margin: 0px; padding: 0px">
                      <div class="col s12 m12 l12 xl12 right right-align" style="margin: 0px; padding: 0px">

                          <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue show_url_button" href="#" title="Show URL" data-activates="dropdownRemoverX{{ITEM.link.id}}" id="{{ ITEM.link.id }}"><i class="material-icons">remove_red_eye</i></a>
                                        <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue" href="#" title="Share" data-beloworigin="true" data-activates="dropdownShare{{ITEM.link.id}}"><i class="material-icons">share</i></a>
                          <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue" href="#" title="More actions" data-activates="dropdownMore{{ITEM.link.id}}" id="more_actions"><i class="material-icons">more_horiz</i></a>
                      </div>
                  </div>
                  </div>
                            <div class="col s12 m8 l8 xl8 left left-align hide-on-large-only" id="icons_extra" style="margin: 0px; padding: 0px">

                   <div class="row left left-align" style="margin: 0px; padding: 0px">
                      <div class="col s12 m12 l12 xl12 left left-align" style="margin: 0px; padding: 0px">

                          <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue show_url_button" href="#" title="Show URL" data-activates="dropdownRemove{{ITEM.link.id}}" id="{{ ITEM.link.id }}"><i class="material-icons">remove_red_eye</i></a>
                                        <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue" href="#" title="Share" data-beloworigin="true" data-activates="dropdownMore0{{ITEM.link.id}}"><i class="material-icons">share</i></a>
                          <a class="btn-floating dropdown-button btn-small waves-effect waves-light blue" href="#" title="More actions" data-activates="dropdownButtons{{ITEM.link.id}}" id="more_actions"><i class="material-icons">more_horiz</i></a>
                      </div>
                  </div>
                  </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px;">
                        <div class="col s12 m12 l12 xl12">
                            <i class="material-icons circle blue-grey">description</i>
                            <div>
                                <div class="row" style="margin-bottom: 0px">
                                    <div class="col s12 m12 l7 xl7">
                                        <a href = "/link/{{ ITEM.link.id }}" target="_blank" class="title">
                                            <h5>{{ITEM.link.title | linebreaksbr}}</h5>
                                        </a>
                                    </div>
                                    </div>
                                </div>
                            <hr>
                            <span class = "DESCR" style="font-size: 100%">{{ITEM.link.description}}
                                 </span>
                            <span>
                                <a href="/link/{{ITEM.link.id }}" target="_blank" class="read_more" style="display: none">Read more</a>
                            </span>
                            <span id="url" style="display: none"><a href="{{ ITEM.link.url }}" target="_blank"> {{ ITEM.link.url }} </a></span>
                        </div>
                    </div>
                </li>
                {% if ITEM.link.og_data.title != None %}
                <li class="collection-item avatar " style="padding: 4px">
                <a href="{{ ITEM.link.url }}" style="text-decoration: none; color: black" target="_blank">
                    <div class="card hoverable horizontal">
                        {% if ITEM.link.og_data.image != None %}
                        <div class="card-image" style="margin: 4px;" id="card_image_div">
                            <img src="{{ITEM.link.og_data.image}}" class="responsive-image" height={{ ITEM.link.og_data.image_height}} width={{ ITEM.link.og_data.image_width }} id="card_image">
                        </div>
                        {% endif %}
                        <div class="card-stacked">

                            <div class="card-content" style="padding: 2px">
                                <span><span style="font-weight: bolder">{{ ITEM.link.og_data.title }}</span></span>
                                {% if ITEM.link.og_data.description != None %}
                                    <p style="font-size: 80%">{{ ITEM.link.og_data.description }}</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </a>
                </li>
                {% endif %}
                <!-- End of open graph data -->
                <!-- Sharing Options
                    <li class="collection-item avatar">
                      <i class="material-icons circle blue-grey">share</i>
                        <span class="title blue-grey-text">Share</span>
                        <p>
                            <div>
                                <a href = "https://www.facebook.com/sharer/sharer.php?u={{ITEM.link.url}}">
                                    <img height=41px width=41px src="/static/icons/fb.svg" alt="Facebook" />
                                </a>
                                <a href = "https://twitter.com/home?status={{ITEM.link.url}}">
                                    <img height=41px width=41px src="/static/icons/Twitterbird.png" alt="Twitter" />
                                </a>
                                <a href = "https://plus.google.com/share?url={{ITEM.link.url}}">
                                    <img height=41px width=41px src="/static/icons/gplus.png" alt="Google+" />
                                </a>
                                <a href = "http://www.reddit.com/submit?url={{ITEM.link.url}}">
                                    <img height=41px width=41px src="/static/icons/reddit.png" alt="Reddit" />
                                </a>
                                <a href = "http://pinterest.com/pin/create/button/?url={{ITEM.link.url}}&description={{ITEM.link.description}}">
                                    <img height=41px width=41px src="/static/icons/pinterest.svg" alt="Pinterest" />
                                </a>
                                <a href = "https://www.linkedin.com/shareArticle?mini=true&url={{ITEM.link.url}}">
                                    <img height=41px width=41px src="/static/icons/linkedin.svg" alt="LinkedIn" />
                                </a>
                            </div>
                        </p>
                    </li>
                    -->
                <!-- Tags -->
                <li class="collection-item avatar" style="padding: 5px; min-height: 10px">
                    <!-- <i class="material-icons circle blue-grey">assignment</i> -->
                  <!--  <span class="title blue-grey-text">Tags</span> -->
                    <p style="margin: 1px; padding: 5px;">
                        {% for tag in ITEM.link.tags.all %}
                    <div class="chip">
                        <a href = "/../tags/{{tag.id}}/{{tag.name}}/" style="text-decoration: none">{{tag.name}}</a>
                    </div>
                    {% endfor %}
                    </p>
                </li>



                {% if request.user.is_authenticated %}
                <li class="collection-item avatar" style="padding: 0px; margin: 0px">
                    <div class="row" style="padding: 0px; margin: 0px">
                        <div class="col s6 m4 l4 xl4" >
                            <br>
                            <button class="btn green upvote upvote_upper_button waves-effect waves-light {{ITEM.upvote_button}} center" id="upvote_button{{ ITEM.link.id }}" link_id = "{{ ITEM.link.id }}"> 

                            {% if ITEM.upvote_button == '' %}
                            <i class="material-icons" style="color: white; background-color: transparent">thumb_up</i> 
                            <span style="vertical-align: top;">{{ ITEM.upvotes }}</span>
                            {% else %}
                            <i class="material-icons" style="color: green; background-color: transparent">thumb_up</i> 
                            <span style="vertical-align: top; color: green;">{{ ITEM.upvotes }}</span>
                            {% endif %}
                            </button>
                        </div>
                        <div class="col s6 m4 l4 xl4" >
                            <br>
                            <button title="downvote" class="btn waves-effect waves-light  red btn-block white-text downvote downvote_upper_button {{ ITEM.downvote_button }}" id="downvote_button{{ ITEM.link.id }}" link_id = "{{ ITEM.link.id }}" > 
                            {% if ITEM.downvote_button == '' %}
                            <i class="material-icons" style="color: white; background-color: transparent">thumb_down</i> 
                            <span style="vertical-align: top;">{{ ITEM.downvotes }}</span>
                            {% else %}
                            <i class="material-icons" style="color: red; background-color: transparent">thumb_down</i> 
                            <span style="vertical-align: top; color: red;">{{ ITEM.downvotes }}</span>
                            {% endif %}
                            </button>
                        </div>
                        <div class="col s12 m4 l4 xl4">
                            <br>
                            <button class="btn blue waves-light center comments_tab waves-effect" id="comments_tab{{ ITEM.link.id }}">
                            <i class='material-icons middle' style='color: white; cbackground-color: transparent' >comment</i>
                            <span style="vertical-align: top;">{{ITEM.link.comment_set.count}}</span>
                            </button>
                        </div>

                       <div class="col s12 m12 l12 xl12 hide-on-large-only">
                            <br><br>
                        </div>
                        <br><br><br><br>
                    </div>
                </li>
                {% endif %}

                <li class="collection-item avatar comments" id="comments{{ ITEM.link.id }}" style="display: none; margin: 0px">
                    <i class="material-icons circle blue-grey">comment</i>
                    <span class="title blue-grey-text">Comments</span>
                    <p class="green-text"><span id="num_comments2{{ ITEM.link.id }}">{{ITEM.link.comment_set.count}}</span> comment(s) on this link:</p>
                    <ul class="collection comments_div_p" id="comments_div_p{{ ITEM.link.id }}">
					<!-- All comments to be loaded here -->
                    </ul>
                    <form id="commentForm{{ ITEM.link.id }}">
                        <div class="input-field">
                            {{ ITEM.comment_form.as_p }}
                        </div>
                    </form>
                    <div class="row" style="padding: 0px; margin: 0px">
                        <div class="col s12 m12 l4 xl4">
                            <button class="btn blue waves-effect waves-light commentSubmitButton" id="{{ ITEM.link.id }}">Comment</button>
                        </div>
                        <div class="col s12 m12 l4 xl4"></div>
                        <div class="col s12 m12 l4 xl4"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m1 l3 xl3"></div>
    </div>
</div>






<!--  Sharing dropdown -->


<ul class="dropdown-content" id="dropdownMore0{{ITEM.link.id}}" style="max-width: 200px">
    <li>
        <a href = "#"> Share Via
        </a>
    </li>
    <li class="divider"></li>
    <li style="display: inline-block">
        <a href = "https://www.facebook.com/sharer/sharer.php?u={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/fb.svg" alt="Facebook" >
        </a>
        <a href = "https://twitter.com/home?status={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/Twitterbird.png" alt="Twitter" />
        </a>
        <a href = "https://plus.google.com/share?url={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/gplus.png" alt="Google+" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "http://www.reddit.com/submit?url={{ITEM.link.url}}">
        <img height = 35px width = 35px src="/static/icons/reddit.png" alt="Reddit" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "http://pinterest.com/pin/create/button/?url={{ITEM.link.url}}&description={{ITEM.link.description}}">
        <img height = 35px width = 35px src="/static/icons/pinterest.svg" alt="Pinterest" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "https://www.linkedin.com/shareArticle?mini=true&url={{ITEM.link.url}}">
        <img height = 35px width = 35px src="/static/icons/linkedin.svg" alt="LinkedIn" />
        </a>
    </li>
</ul>


    <!-- sharing dropdown mobile -->
    <ul class="dropdown-content" id="dropdownShare{{ITEM.link.id}}" style="max-width: 200px">
    <li>
        <a href = "#"> Share Via
        </a>
    </li>
    <li class="divider"></li>
    <li style="display: inline-block">
        <a href = "https://www.facebook.com/sharer/sharer.php?u={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/fb.svg" alt="Facebook" >
        </a>
        <a href = "https://twitter.com/home?status={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/Twitterbird.png" alt="Twitter" />
        </a>
        <a href = "https://plus.google.com/share?url={{ITEM.link.url}}" style="display: inline-block; padding: 5px">
        <img height = 35px width = 35px src="/static/icons/gplus.png" alt="Google+" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "http://www.reddit.com/submit?url={{ITEM.link.url}}">
        <img height = 35px width = 35px src="/static/icons/reddit.png" alt="Reddit" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "http://pinterest.com/pin/create/button/?url={{ITEM.link.url}}&description={{ITEM.link.description}}">
        <img height = 35px width = 35px src="/static/icons/pinterest.svg" alt="Pinterest" />
        </a>
        <a style="display: inline-block; padding: 5px" href = "https://www.linkedin.com/shareArticle?mini=true&url={{ITEM.link.url}}">
        <img height = 35px width = 35px src="/static/icons/linkedin.svg" alt="LinkedIn" />
        </a>
    </li>
</ul>

<!-- Copy to Clipboard Drop down -->
<ul id="dropdownRemove{{ITEM.link.id}}" class="dropdown-content" style="max-width: 200px" >
    <li>
        <div class="row" style="max-width: 100%; ;overflow-x: scroll; padding: 1%; margin: 0px;">
            <span>
            <a  id="link_url{{ ITEM.link.id }}" href="{{ ITEM.link.url }}" target="_blank" style="display: inline-block;" > {{ ITEM.link.url }}</a>
            </span>
            <!--      <span>
                <i class="material-icons circle right" id="" style="display: inline-block;"  > content_</i>
                </span> -->
        </div>
    </li>
</ul>

    <ul id="dropdownRemoverX{{ITEM.link.id}}" class="dropdown-content" style="max-width: 200px" >
    <li>
        <div class="row" style="max-width: 100%; ;overflow-x: scroll; padding: 1%; margin: 0px;">
            <span>
            <a  id="link_url{{ ITEM.link.id }}" href="{{ ITEM.link.url }}" target="_blank" style="display: inline-block;" > {{ ITEM.link.url }}</a>
            </span>
            <!--      <span>
                <i class="material-icons circle right" id="" style="display: inline-block;"  > content_</i>
                </span> -->
        </div>
    </li>
</ul>


     <!--<a class='dropdown-button btn' href='#' data-activates='dropdownMore'>Drop Me!</a>-->

  <!-- Dropdown Structure for buttons -->
  <ul id='dropdownButtons{{ITEM.link.id}}' class='dropdown-content'>
      <li> <a class="waves-effect waves-light" href="{{ ITEM.link.url }}" title="Visit Link" target="_blank">Visit link</a></li>

     <li><a class="waves-effect waves-light copy" id="{{ ITEM.link.id }}"  href="#" title="Copy to clipboard" >Copy to clipboard</a></li>
                                        {% if request.user == ITEM.link.user %}
                                           <li> <a class="dropdown-button waves-effect waves-light " href="/link/{{ ITEM.link.id }}/edit" id="edit" title="Edit Link" >Edit</a></li>
                                            <li><a class=" dropdown-button  waves-effect waves-light " href="#modalDelete{{ITEM.link.id}}" id="delete_icon" title="Delete Link" >Delete </a></li>

                                        {% endif %}


  </ul>

     <ul id='dropdownMore{{ITEM.link.id}}' class='dropdown-content'>
      <li> <a class="waves-effect waves-light" href="{{ ITEM.link.url }}" title="Visit Link" target="_blank">Visit link</a></li>

     <li><a class="waves-effect waves-light copy" id="{{ ITEM.link.id }}" href="#" title="Copy to clipboard" >Copy to clipboard</a></li>
                                        {% if request.user == ITEM.link.user %}
                                           <li> <a class=" waves-effect waves-light " href="/link/{{ ITEM.link.id }}/edit" id="edit" title="Edit Link" >Edit</a></li>
                                            <li><a class="waves-effect waves-light " href="#modalDelete{{ITEM.link.id}}" id="delete_icon" title="Delete Link" >Delete </a></li>

                                        {% endif %}


  </ul>




    <div class="modal" id="modalDelete{{ITEM.link.id}}">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <h4 class="center-align red-text flow-text">Are you sure?</h4>
                    <div  class="col s12 m12 l12" style="margin: 2px">
                        <button  class="btn red white-text modalD deleteCompletely " id="{{ ITEM.link.id }}">Delete this link completely from all of your books</button>
                    </div>
                    <div class="col s12 m12 l12  red-text center-align">
                        <br>
                        This action will delete all copies of the links in your books. This action can't be undone in future. </div>
                </div>
            </div>
        </div>
    </div>




<!-- Edit comment Modal -->
    <div class="modal modalEditComment" id="modalEditComment{{ ITEM.link.id }}">
        <div class="modal-content">
            <div class="row">
                <h5 class="center-align blue-text">Edit/Delete Comment</h5>
                <div class="col s1 m1 l1 xl1"></div>
                <div class="col s10 m10 l10 xl10">
                    <div class="input-field">
                        <textarea id="modalEditCommentTextarea{{ ITEM.link.id }}">

                        </textarea>
                        <div class="row">
                            <div class="col 12 m12 l6 xl6">
                                <button class="btn editCommentButton" id="editCommentButton{{ ITEM.link.id }}">Save</button>
                            </div>
                            <div class="col 12 m12 l6 xl6">
                                <button class="btn red white-text deleteCommentButton" id="deleteCommentButton{{ ITEM.link.id }}">Delete</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col s1 m1 l1 xl1"></div>
            </div>
        </div>
    </div>

{% endfor %}
<script>
        var commentsOperationsVariable = -1;
        var globalCommentsObject = {};
        function ModifyComments(linkId, commentId)
        {
            console.log("Modify comments Called");
            console.log(commentId);
            var textAreaEditComment = $('#modalEditCommentTextarea' + linkId);
            var commentToBeModified = globalCommentsObject[linkId][commentId];
            textAreaEditComment.val(commentToBeModified.text);
            commentsOperationsVariable = commentToBeModified.id;
        }
        function LoadComments(linkId){
        console.log("Load Comments called");
        console.log(linkId);
    	$.ajax({
    		url: '/comment/load/',
    		type: 'get',
    		data: {'link_id': linkId},
    		success: function(data, status){
    			var comments_div_p = $('#comments_div_p' + linkId);
                var str = '';
                var comments = data['comments'];
                globalCommentsObject[linkId] = comments;
                console.log(comments);
                var i;
                for( i = 0; i <comments.length ; i++)
                {
                	str += '<li class="divider"></li>'
                		+ '<li class="collection-item avatar commentsListItem">'
                        + '<div class="row">'
                		+ '<a href="/' + comments[i]['user'] + '/"><img src=' + comments[i]['pic']
                		+ ' class="responsive-img circle" title=' + comments[i]['user'] + '></a>'
                		+ '<div class = "col s12 m12 l12 xl12 " comments_inside_div commentsListItem">'
                		+ '<p style="font-weight: 800" class="commentsListItem ">'
                		+ '<a class="hide-on-med-and-down" href="/' + comments[i]['user'] + '/">' + comments[i]['user'] + '</a>' + '<span>&nbsp;&nbsp;' + comments[i]['text'] + '</span>'
                		+ '</p>' + '</div>'
                            + '<div class="col s12 m12 l12 xl12">'
                          +  '<sub class="commentsListItem grey-text">' + comments[i]['time'] + '</sub>';
                    if(comments[i]['user'] === "{{request.user.username}}")
                    {
                        str += '<sub><a href="#modalEditComment' + linkId + '" onclick="ModifyComments(' +  linkId + ',' + i + ')" > &nbsp;&nbsp;&nbsp; Edit/Delete</a><sub>';
                    }
                    str += '</div></div></li>';
                }
                comments_div_p.html(str);
                $("#comments_div_p" + linkId).scrollTop($("#comments_div_p" + linkId)[0].scrollHeight);
                // increase number of comments by 1
            	$('#num_comments1' + linkId).html(Number(data['count']));
            	$('#num_comments2' + linkId).html(Number(data['count']));
    		}
    	});
    }
        $(function(){


            $('.dropdown-button').dropdown({
              inDuration: 300,
              outDuration: 225,
              constrainWidth: false, // Does not change width of dropdown to that of the activator
              hover: false, // Activate on hover
              gutter: 0, // Spacing from edge
              belowOrigin: true, // Displays dropdown below the button
              alignment: 'right', // Displays dropdown with edge aligned to the left of button
              stopPropagation: false // Stops event propagation
            });





            // load comments initially
            {% for item in all_links %}
                LoadComments({{ item.link.id }});
            {% endfor %}


            $('.upvote_upper_button').click(function(){
            var link_id;
            link_id = $(this).attr("link_id");
            $.get('/link/' + link_id + '/vote/', {type: 'U'}, function(data){
                       $('#downvote_button' + link_id).removeClass('lighten-5');
 
                        if(data['upvote_button'] == ''){
                            $('#upvote_button' + link_id).removeClass('lighten-5');
                            $('#upvote_button' + link_id).html("<i class='material-icons' style='color: white; background-color: transparent'>thumb_up</i> <span style='vertical-align: top;'>"
                                + data['upvotes'] + "</span>");
                        }else{
                            $('#upvote_button' + link_id).addClass('lighten-5');
                            $('#upvote_button' + link_id).html("<i class='material-icons' style='color: green; background-color: transparent'>thumb_up</i> <span style='vertical-align: top;color: green;'>"+data['upvotes'] + "</span>");
                        }
                        $('#downvote_button' + link_id).html("<i class='material-icons' style='color: white; background-color: transparent'>thumb_down</i> <span style='vertical-align: top;'>"+
                            data['downvotes'] + "</span>");
                });
            });
            $('.downvote_upper_button').click(function(){
            var link_id;
            link_id = $(this).attr("link_id");
            $.get('/link/' + link_id + '/vote/', {type: 'D'}, function(data){
                       $('#upvote_button' + link_id).removeClass('lighten-5');
                       
                        if(data['downvote_button'] == ''){
                            $('#downvote_button' + link_id).removeClass('lighten-5');
                            $('#downvote_button' + link_id).html("<i class='material-icons' style='color: white; background-color: transparent'>thumb_down</i> <span style='vertical-align: top;'>"+
                            data['downvotes'] + "</span>");
                        }else{
                            $('#downvote_button' + link_id).addClass('lighten-5');
                            $('#downvote_button' + link_id).html("<i class='material-icons' style='color: red; background-color: transparent'>thumb_down</i> <span style='vertical-align: top;color: red;'>"+ data['downvotes'] + "</span>");
                        }
                        $('#upvote_button' + link_id).html("<i class='material-icons' style='color: white; background-color: transparent'>thumb_up</i> <span style='vertical-align: top;'>"+
                            data['upvotes'] + "</span>");
                });
            });
            var comments_tab = $('.comments_tab');
            var comments_open = {};
            {% for item in all_links %}
                comments_open[{{ item.link.id }}] = 0;
            {% endfor %}
            comments_tab.click(function () {
                var id = this.id;
                id = id.split('');
                id.splice(0, 12);
                id = id.join("");
                if(comments_open[id] == 0){
                    $('#comments' + id).css({'display' : 'block'});
                    $('#comments_tab' + id).html("Hide Comments");
                }
                else{
                    $('#comments' + id).css({'display' : 'none'});
                    $('#comments_tab' + id).html("<i class='material-icons' style='color: white; cbackground-color: transparent' >comment</i><span style='vertical-align: top;'> " + 
                        globalCommentsObject[id].length + "</span>");
                }
                comments_open[id] = 1 - comments_open[id];
                LoadComments(id);
            });

            var commentsSubmitButton = $('.commentSubmitButton');
            commentsSubmitButton.click(function (){
                console.log("Called comment submit button");
                var id = this.id;
                var formId = '#commentForm' + id;
                //commentsSubmitButton.addClass('disabled');

                var $textarea = $(formId + ' textarea');
                var text = $textarea.val();
                console.log("Text");
                console.log(text);
                $textarea.val('');
                if(!$.trim(text)){
                    alert("Can't add empty comments!");
                  //  commentsSubmitButton.removeClass('disabled');
                    return;
                }
                // Removing excess white spaces from text area.
                text.replace(/\s+/g, " ").replace(/^\s|\s$/g, "");
                $.ajax({
                    url: '/comment/create/',
                    type: 'post',
                    data: {'text':text,
                           'link_id': id
                        },
                    success :function(data, status){
                        console.log(data);
                        LoadComments(id);
                    }
                });
              //  commentsSubmitButton.removeClass('disabled');
            });

            $('.deleteCompletely').click(function(){
            var id = this.id;
            $.ajax({
                url: '/link/' + id + '/delete/',
                type: 'post',
                success: function(data, status){
                    console.log(data);
                    window.location = "/{{request.user.username}}/";
                }
            });
        });


            $('.DESCR').each(function () {


                var max_length = 150;
                if($(this).html().length > max_length)
                {

                    console.log("Read_more");
                    var short_content = $(this).html().substr(0, max_length);
                    $(this).html(short_content);
                    console.log($(this).next().children()[0]);
                    $(this).next().children().css({'display' : 'inline-block'});
                }

            });



            /* Events for edit and delete Comments */
            $('.editCommentButton').click(function () {

                console.log("Edit comment called");
                var id = this.id;
                id = id.split('');
                console.log(id);
                 id.splice(0, 17);
                id = id.join('');
                console.log(id);
                var textAreaEditComment = $('#modalEditCommentTextarea'  +id);
                var text = textAreaEditComment.val();
                if(!$.trim(text)){
                    alert("Can't add empty comments!");
                    commentsSubmitButton.removeClass('disabled');
                    return;
                }
                // Removing excess white spaces from text area.
                text.replace(/\s+/g, " ").replace(/^\s|\s$/g, "");
                // ID of comment to be edited
                var commentIndex = commentsOperationsVariable;
                $.ajax({
                    url : '/comment/'+commentIndex+'/edit/',
                    type: 'post',
                    data: {'text':text},
                    success :function(data, status){
                        console.log(data);
                        $('#modalEditComment' + id).modal('close');
                        LoadComments(id);
                    }
                });
            });


            var show_url_button = $('.show_url_button');
            show_url_button.click(function () {
                var str = 'link_url' + (this.id);
                console.log(str);
                selectText(str);
            });
           /*
           $('.link_card').click(function () {
                var id = this.id;
                var url = '/link/' + id;
                window.open(url);
            });
            $('.link_card a').click(function (e) {
                e.stopPropagation();
            });
            $('.link_card button').click(function (e) {
                e.stopPropagation();
            });
            $('.link_card .btn').click(function (e) {
                e.stopPropagation();
            });
            */
            $('.deleteCommentButton').click(function () {

                var id = this.id;
                id = id.split('');
                console.log(id);
                 id.splice(0, 19);
                id = id.join('');
                console.log(id);

                 commentIndex = commentsOperationsVariable;
                $.ajax({
                    url : '/comment/'+commentIndex+'/delete/',
                    type: 'post',
                    success :function(data, status){
                        console.log(data);
                        $('#modalEditComment' + id).modal('close');
                        LoadComments(id);
                    }
                });
            });
            $('.modal').modal();
            var copy = $('.copy');
            copy.click(function (){
                console.log("Copied Called");
                var id = this.id;
                console.log("id is " + id);
                var linkUrl = $('#link_url' + id).attr('href');
                console.log("LinkUrl is");
                console.log(linkUrl);
                copyToClipboard(linkUrl);
            });
        });

        $('img').on('error', function () {
            $('#card_image_div').css({'display' : 'none'});
        });
        function copyToClipboard(element) {
            var height = $('body').prop('scrollHeight');
            console.log(height);
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(element).select();
            document.execCommand("copy");
            $temp.remove();
            $("body").scrollTop($('body').scrollTop() + height);
            Materialize.toast('copied to clipboard', 2000);
        }
        function selectText(containerid)
        {
            if (document.selection) {
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(containerid));
                range.select();
            } else if (window.getSelection) {
                 range = document.createRange();
                range.selectNode(document.getElementById(containerid));
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
            }
        }
        // delete link

</script>
{% endblock body %}