{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}
    <style>
    .btn-flat
    {
        cursor: default;
        text-transform: lowercase;
        width: 100%;
        margin: 5px;
    }

    .card1 div
    {
        margin: 1px;
        padding: 2px;
    }
    .card1 .card-content1
    {
        padding: 2px;
        margin: 1px;
    }

    </style>
    <br><br>
    <div class="container">
        <div class="row">
        <!--
            <div class="col s12 m12 l3">
                <img class="responsive-img hoverable" width="90%" src="{{ user.profile.pic }}" style="border-radius: 5%">
                <br>
                <br>
                <div class="center center-align valign-wrapper">
                    <i class="material-icons small circle">email</i> <a href="mailto:{{ user.email }}">{{user.email}}</a>
                </div>
                <hr>
                <button class="btn blue darken-3 hoverable waves-effect waves-light" style="width: 100%" id="follow">Follow</button>
                </div>
            <div class="col s12 m12 l6" style="height: 100%; border-right: 1px solid black">
                <button class="btn btn-flat blue" style="width: 90%">Name : {{ user.first_name}} {{user.last_name}}</button><br><br>
                <button class="btn btn-flat green" style="width: 90%">Following : {{ following_count }} </button><br><br>
                <button class="btn btn-flat blue" style="width: 90%"> Followers : {{ follower_count }}</button>
                <br><br>
                <button class="btn btn-flat green" style="width: 90%"> Total Links : {{ link_count }}</button>
                <br><br>
                <button class="btn btn-flat blue" style="width: 90%">Total books : {{ book_count }}</button>
            </div> -->
        <div class="col s12 m12 l4">
            <div class="card " style="width: 100%">
        <div class="card-image">
            <img src="{{ user.profile.pic }}" class="responsive-img hoverable">
          <span class="card-title">{{ user.first_name }} {{ user.last_name }}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light blue darken-2" title="Follow"><i class="material-icons">group_add</i></a>
        </div>
        <div class="card-content">
          <p>
              <div class="row">
                    <div class="col s12 l6 m12">
                        <button class="btn btn-flat blue darken-1">{{ follower_count }} follower(s)</button>
                        <button class="btn btn-flat blue darken-1">following {{ following_count }}</button>

                    </div>
                    <div class="col s12 l6 m12">
                         <button class="btn btn-flat green">{{ link_count }} link(s)</button>
                         <button class="btn btn-flat green">{{ book_count }} books(s)</button>
                    </div>
                </div>

          </p>
        </div>
      </div>
        </div>
            <div class="col s12 m12 l8">
            <div class="header center center-align">
                    <h5>Popular Links</h5>
                </div>
                  
                <div class="row">
                    <div class="col s12 m12 l6">

                        {% if links.0 == none %}
                        {% else %}
                            <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{links.0.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{links.0.title}}</h5></div>
                      <div class="card-content card-content1" id="{{links.0.id }}">
                      <p>{{links.0.description }}</p>
                      <p>Books:
                        {% for book in links.0.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>Tags:
                        {% for tag in links.0.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <span>{{links.0.comment_set.count}} comment(s)</span>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{links.0.url}}" target="_blank">visit link</a>
                      {% if request.user == links.0.user %}
                        <a href="/link/{{links.0.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                            </div>

                        {% endif %}
                    
                    
                                            {% if links.2 == none %}
                        {% else %}
                            <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{links.2.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{links.2.title}}</h5></div>
                      <div class="card-content card-content1" id="{{links.2.id }}">
                      <p>{{links.2.description }}</p>
                      <p>Books:
                        {% for book in links.2.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>Tags:
                        {% for tag in links.2.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <span>{{links.2.comment_set.count}} comment(s)</span>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{links.2.url}}" target="_blank">visit link</a>
                      {% if request.user == links.2.user %}
                        <a href="/link/{{links.2.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                            </div>

                        {% endif %}
                    </div>
                    
                    <div class="col s12 m12 l6">
                        
                                                {% if links.1 == none %}
                        {% else %}
                            <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{links.1.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{links.1.title}}</h5></div>
                      <div class="card-content card-content1" id="{{links.1.id }}">
                      <p>{{links.1.description }}</p>
                      <p>Books:
                        {% for book in links.1.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>Tags:
                        {% for tag in links.1.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <span>{{links.1.comment_set.count}} comment(s)</span>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{links.1.url}}" target="_blank">visit link</a>
                      {% if request.user == links.1.user %}
                        <a href="/link/{{links.1.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                            </div>

                        {% endif %}
                    
                                            {% if links.3 == none %}
                        {% else %}
                            <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{links.3.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{links.3.title}}</h5></div>
                      <div class="card-content card-content1" id="{{links.3.id }}">
                      <p>{{links.3.description }}</p>
                      <p>Books:
                        {% for book in links.3.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>Tags:
                        {% for tag in links.3.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <span>{{links.3.comment_set.count}} comment(s)</span>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{links.3.url}}" target="_blank">visit link</a>
                      {% if request.user == links.3.user %}
                        <a href="/link/{{links.3.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                            </div>

                        {% endif %}
                        
                        
                    </div>



            </div>

        </div>
    </div>

    <!--
<li>
 <img height = "40px" width="40px" src="{{user.profile.pic}}" />
</li>
<li>Username: {{user.username}}</li>
<li>Links: {{link_count}}</li>
<li>Books: {{book_count}}</li>
-->
    <script>

        $(function () {

            var cards = $('.card_link');

            cards.click(function () {
                var id = this.id;
                var url = '/link/' + id;
                window.open(url);
            });

        });

    </script>

{% endblock body %}