{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Trending{% endblock %}


{% block body %}
	<style>
    @media screen and (max-width: 601px){
    #wordcloudTrending{
        width: 100%;
        height: 100%;
        margin-top: 10%;
        margin-left: -5%;
    }
}
	@media screen and (min-width: 601px){
    #wordcloudTrending{
        width: 60%;
        height:60%;
        margin-top: 10%;
        margin-left: 20%;
    }
    }
	</style>

	<div class="center" id="wordcloudTrending">
            {% load taggit_templatetags2_tags %}
            {% include "taggit_templatetags2/tagcanvas_include_js_static.html" %}
            {% include_tagcanvas 'tag' '400px' '400 px' 'view_tag' 'links.Link' %}
    </div>
    <script>

        $('.modal').modal();

    </script>

{% endblock body %}