{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}User Book{% endblock %}

{% block body %}
    <style>
        .card1
        {
            height : 310px;
        }
        .description
        {
            overflow: hidden;
            max-height : 65px;
        }
        .BooksP
        {
            overflow: hidden;
            height : 37px;
        }

        .TagsP
        {
            overflow: hidden;
            height : 37px;
        }
    </style>
    <div class = "container" style="padding: 0px;">
        <div class="row" style="padding: 0px; margin: 0px">
            <h3 class="center blue-grey-text" style="padding: 1%">{{user.username}}'s Book</h3>
        </div>
        <div class="row" style="padding: 0px; margin: 0px">
            {% for link in book %}
                <div class="col s12 m12 l4 xl4">
                    <div class="row" style="padding: 0px; margin: 0px">
                        <div class="col s12 m12 l12 xl12">
                <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{ link.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{link.title}}</h5></div>
                      <div class="card-content" id="{{ link.id }}">
                      <p class="description">{{ link.description }}</p>
                      <p class="BooksP">Books:
                        {% for book in link.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p class="TagsP">Tags:
                        {% for tag in link.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>{{link.comment_set.count}} comment(s)</p>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{link.url}}" target="_blank">Visit link</a>
                      {% if request.user == link.user %}
                        <a href="/link/{{link.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if book == none or book|length == 0  %}
                <div class="col s12 m12 l4 xl4"></div>
                <div class="col s12 m12 l4 xl4 flow-text center">
                    This Book is empty. No links here.
                </div>
                <div class="col s12 m12 l4 xl4"></div>
            {% endif %}
        </div>
    </div>
    <script>

        $(function () {

            var cards = $('.card_link');

            cards.click(function () {
                var id = this.id;
                var url = '/link/' + id;
                window.location.href = url;
            });
    $('.modal').modal();

        });

    </script>

{% endblock%}

