{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{link}}{% endblock %}

{% block body %}
    <style>

    .btn
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    p
    {
        margin: 0px;
        padding: 0px;
    }

    </style>
    <div class="container">
        <div class="row">
            <div class="col s1 m3 l3"></div>
            <div class="col s10 m6 l6">
                <ul class="collection hoverable " style="border: 1px solid #607d8b">
                    <li class="collection-item avatar">
                      <div class="row">
                        <!-- user avatar -->
                        {% if request.user.social_auth.get.provider == "facebook" %}
                            <img class = "responsive-img circle left" src="https://graph.facebook.com/{{request.user.social_auth.get.uid}}/picture?type=square" />
                        
                        {% elif request.user.social_auth.get.provider == "google-oauth2" %}
                            <script src="https://www.avatarapi.com/js.aspx?email={{request.user.social_auth.get.uid}}&size=40"></script>

                        {% elif request.user.social_auth.get.provider == "github" %}
                             <img class = "responsive-img circle left" src="https://avatars.githubusercontent.com/u/{{request.user.social_auth.get.uid}}" />
                            
                        {% elif request.user.social_auth.get.provider == "twitter" %}
                             <img class = "responsive-img circle left" src="https://twitter.com/{{request.user.social_auth.get.access_token.screen_name}}/profile_image?size=normal" />

                        {% else %}
                             <img class = "responsive-img circle left" src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg" />
                        {% endif %}
                        &nbsp; &nbsp;
                        <span class="title blue-grey-text ">{{ link.user }} <sub>{{ link.date }}</sub></span> <br><span class="title blue-grey-text"><sup>&nbsp; &nbsp;&nbsp; Last updated : {{ link.last_updated }}</sup>  </span>
                      </div>
                        <div class="row" style="margin: 0px; position: relative">
                            <div class="col s6 m6 l6">

                                <span><a href = "{{link.url}}" target="_blank" class="title center">{{link.title | linebreaksbr}}</a></span>
                                <hr>
                       <span class="title blue-grey-text">{{link.description}}</span>
                                <span id="url" style="display: none"><a href="{{ link.url }}" target="_blank"> {{ link.url }} </a></span>
                            </div>
                            <div class="col s6 m6 l6">
                                <div class="row">
                                    <br>
                                    <div class="col s12 m6 l6">
                                        <span> <button class="waves-effect waves-light btn blue-grey white-text" id="b">URL</button></span>

                                    </div>
                                    <div class="col s12 m6 l6">
                                <span><a class="btn blue-grey small right btn-block  waves-effect waves-light white-text" href="{{ link.url }}" target="_blank">Visit Link</a></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col s12 m12 l12" id="clone_div" style="z-index: 5;">
                                <div class="row">
                                    <div>
                                        <div class="row" style="border : 1px solid rgb(209, 213, 218); padding: 15px; z-index: 100; background-color: white; position:absolute; ">
                                            <div class="col s10 m10 l10 valign-wrapper">
                                                <span style="border: 1px solid rgb(209, 213, 218); border-radius: 30px;  padding: 5px" id="link_url">{{ link.url }}</span>
                                            </div>
                                            <div class="col s2 l2 m2 valign-wrapper">
                                                <button title="copy to clipboard" class="btn green white-text" id="copy"> <i class="material-icons green" style="color: white">content_copy</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Open Graph data -->
                    {% if show_og and og.title != None %}
                    <li class="collection-item avatar " style="padding: 4px">
                        <div class="card hoverable horizontal">
                            <div class="card-image" style="margin: 4px;" id="card_image_div">
                                <img src="{{og.image}}" class="responsive-image" height={{ og.image_height}} width={{ og.image_width }} id="card_image">
                            </div>
                            <div class="card-stacked">
                             {%if og.title != None %}
                                <div class="card-content" style="padding: 2px">
                                 <span><span style="font-weight: bolder">{{ og.title }}</span></span>
                                <p style="font-size: 80%">{{ og.description }}</p>
                                </div>
                                {% endif %}
                        </div>
                        </div>
                    </li>
                    {% endif %}
                    <!-- End of open graph data -->
                    <li class="collection-item avatar">
                      <i class="material-icons circle blue-grey">assignment</i>
                        <span class="title blue-grey-text">Tags</span>
                        <p>
                        {% for tag in link.tags.all %}
                            <div class="chip">
                                <a href = "/../tags/{{tag.name}}/">{{tag.name}}</a>
                            </div></a>
                         {% endfor %}
                        </p>
                    </li>

                {% if request.user.is_authenticated %}
                    <li class="collection-item avatar">

                    <div class="row">
                        <div class="col s4 m4 l4">
                            <span> <sup id="upvotes_count">{{ upvotes }}</sup><sup> upvote(s)</sup></span>
                            <button class="btn green upvote upvote_upper_button waves-effect waves-light {{upvote_button}} center" id="upvote_button" link_id = "{{ link.id }}"> <i class="material-icons" style="color: white; background-color: transparent">thumb_up</i> </button>
                        </div>
                        <div class="col s4 m4 l4">
                            <span> <sup id="downvotes_count">{{ downvotes }} </sup><sup> downvote(s)</sup></span>
                                    <button title="downvote" class="btn waves-effect waves-light  red btn-block white-text downvote downvote_upper_button {{ downvote_button }}" id="downvote_button" link_id = "{{ link.id }}" > <i class="material-icons" style="color: white; background-color: transparent" >thumb_down</i></button>
                        </div>
                        <div class="col s4 m4 l4">
                            <span>
                                <sup>{{link.comment_set.count}} comment(s)</sup>
                            </span>
                            <button class="btn blue waves-light center waves-effect" id="comments_tab">Comments</button>
                        </div>
                    </div>
                    </li>
                {% endif %}

                <li class="collection-item avatar" id="comments" style="display: none">
                      <i class="material-icons circle blue-grey">comment</i>
                        <span class="title blue-grey-text">Comments</span>
                        <p class="green-text">{{link.comment_set.count}} comment(s) on this link:</p>
                        <p>

                    {% for comment in link.comment_set.all %}
                        <div>
                            <span style="font-weight: 800">{{ comment.user }} <sub>[{{comment.date}}]</sub> :</span>
                            <span>{{ comment.text }}</span>
                        </div>
                    {% endfor %}
                        </p>

                <form method="post" action="/link/{{link.id}}/comment/" role="form">
                        {% csrf_token %}
                        <div class="input-field">
                        {{ comment_form.as_p }}
                        <button type="submit" class="btn blue waves-effect waves-light">Comment</button>
                            </div>
                    </form>
                </li>
                </ul>
            </div>
            <div class="col s1 m3 l3"></div>
        </div>
    </div>
    <script>

    $(function () {

        var b = $('#b');
        var disp = false;
        var URL = $('#url');
        var clone = $('#clone_div');
       // clone.hide();
        clone.click(function(e) { //button click class name is myDiv
            e.stopPropagation();
        });

        b.click(function() {
                clone.show();
                return false;

        });
        $(document).click(function(){
                clone.hide(); //hide the button
        });



    $('.upvote_upper_button').click(function(){
    var link_id;
    link_id = $(this).attr("link_id");
    $.get('/link/{{link.id}}/vote/', {type: 'U'}, function(data){
               $('#upvotes_count').html(data['upvotes']);
               $('#downvotes_count').html(data['downvotes']);
               $('.upvote').removeClass('lighten-5');
               $('.downvote').removeClass('lighten-5');
               //$(".downvote").toggleClass(data['downvote_button']);
                console.log(data.upvote_button);
                console.log(data.downvote_button);
                if(data['upvote_button'] == '')
                {

                }
                else
                {
                    $('.upvote').addClass('lighten-5');
                }
        });
    });
    $('.downvote_upper_button').click(function(){
    var link_id;
    link_id = $(this).attr("link_id");
    $.get('/link/{{link.id}}/vote/', {type: 'D'}, function(data){

               $('#downvotes_count').html(data['downvotes']);
               $('#upvotes_count').html(data['upvotes']);
               $('.upvote').removeClass('lighten-5');
               $('.downvote').removeClass('lighten-5');
              // $(".downvote").addClass(data['downvote_button']);

                if(data['downvote_button'] == '')
                {

                }
                else
                {
                    $('.downvote').addClass('lighten-5');
                }
        });

    });

    var comments_tab = $('#comments_tab');
    var comments_open = 0;
    comments_tab.click(function () {

        if(comments_open == 0)
        {
            $('#comments').css({'display' : 'block'});
            comments_tab.html("Hide Comments");
        }
        else
        {
            $('#comments').css({'display' : 'none'});
            comments_tab.html("Comments");
        }
        comments_open = 1 - comments_open;
        });


        $('.modal').modal();

        var copy = $('#copy');
        copy.click(function () {
            var linkUrl = $('#link_url');
            copyToClipboard(linkUrl);
            Materialize.toast('copied to clipboard', 2000);
        });
    });

    $('img').on('error', function () {

        console.log("Hello");
        $('#card_image_div').css({'display' : 'none'});
    });

    function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}

    </script>

{% endblock %}
