{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% endblock %}

{% block body %}

    <style>

    .insideMaterialIcon
    {
        margin-right: 1%;
        margin-left: 1%;
    }

    </style>

    <div class = "container">
    <div class="row blue-grey" style="width:100%; padding: 0px; margin: 0px">
        <!--
        <h3 class="center center-align "><span class="blue-grey white-text" style="padding: 3px; border-radius: 5%; font-family: Dosis;">{{user.first_name}}'s Links</span></h3> -->

        <h3 class="center center-align white-text" style="font-family: Dosis; width: 100%; padding: 1px; margin-bottom: 0px">Links with tag <span style="font-weight: 900">'{{tagname}}'</span></h3>

    </div>
    <br><br>
    {% for link in tag%}
        <div class="row" style="margin: 1px; padding: 1px">

            <div class="col s12 m4 l4 xl4" style="margin: 1px; padding: 1px">
                <div class="card horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card-title center"><h5>{{link.title}}</h5></div>
                      <div class="card-content" id="{{ link.id }}" style="cursor: pointer;">
                      <p>{{ link.description }}</p>
                      <p>Tags:
                        {% for tag in link.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.id}}/{{tag.name}}/" style="text-decoration: none">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
<Br>
                                                <span class="insideMaterialIcon"><i class="material-icons">thumb_up</i><sup> {{link.num_vote_up}}</sup> </span>

                          <span class="insideMaterialIcon"><i class="material-icons">thumb_down</i><sup> {{link.num_vote_down}}</sup> </span>
                          <span class="insideMaterialIcon"><i class="material-icons">comment</i><sup> {{link.comment_set.count}}</sup> </span>

                    </div>
                    <div class="card-action">
                      <a href="{{link.url}}" target="_blank">Visit link</a>
                      {% if request.user == link.user %}
                        <a href="/link/{{link.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
            </div>

        </div>

    {% endfor %}


    </div>
    <script>

        $(function () {

            var cards = $('.card-content');

            cards.click(function () {

                var id = this.id;
                var url = '/link/' + id;
                window.location.href = url;

            });
    $('.modal').modal();

        });

    </script>

{% endblock%}