{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{user.first_name}}'s books{% endblock %}

{% block body %}
    <style>
        .description
        {
            overflow: hidden;
            height: 65px;
        }
    </style>
<div class = "container" style="padding: 0px">
    <div class="row">
        <h3 class="center blue-grey-text" style="padding: 1%">{{user.first_name}}'s Books</h3>
    </div>
    <div class="row" style="padding: 0px">
        {% for book in view_books %}
        <div class="col s12 m4 l4 xl4">
        <a href="/book/{{ book.id }}">
            <div class="row" style="padding: 0px">
                <div class="col s12 m12 l12 xl12">
                    <div class="card horizontal hoverable blue-grey white-text lighten-1 ">
                          <div class="card-stacked">
                              <div class="card-title center"><h4>{{ book.title }}</h4></div>
                              <div class="card-content">
                              <p class="description">{{ book.description }}</p>
                              <p>{{book.link_set.count}} link(s)</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% empty %}
            <div class="row" style="padding: 0px">
                <div class="col s12 m12 l3 xl3"></div>
            <div class="col s12 m12 l6 xl6 flow-text center">
                Empty. {{ user.username }} has no books.
            </div>
            <div class="col s12 m12 l3 xl3"></div>
            </div>
    {% endfor %}
    </div>
</div>
    <script>
        $('.modal').modal();
    </script>
{% endblock%}