{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        .description
        {
            overflow: hidden;
            height: 65px;
        }
    </style>
<div class = "container">
    <div class="row">
        <h3 class="center blue-grey-text">{{user.username}}'s Books</h3>
    </div>
    <div class="row">
        {% for book in view_books %}
        <div class="col s12 m4 l4">
        <a href="/book/{{ book.id }}">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card horizontal hoverable blue-grey white-text lighten-1 ">
                          <div class="card-stacked">
                              <div class="card-title center"><h4>{{ book.title }}</h4></div>
                              <div class="card-content">
                              <p class="description">{{ book.description }}</p>
                              <p>{{book.link_set.count}} link(s)</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock%}