{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        .card1
        {
            height : 300px;
        }
        .description
        {
            overflow: hidden;
            max-height : 70px;
        }
        .collapsiblecards{
            display:inline-block;
            margin-left: 5px; 
            margin-right: 5px;
            width:32%;
        }
    </style>

    <div style="width:80%; margin:auto;">
      <ul class="collapsible popout" data-collapsible="expandable">
      {% for book in view_books %}
        <li>
          {% if forloop.counter|add:0|divisibleby:3 %}
            <div class="collapsible-header" style="background-color: #59f6ff;">
          {% endif %} 
          {% if forloop.counter|add:1|divisibleby:3 %}
            <div class="collapsible-header" style="background-color: #90ff60;">
          {% endif %} 
          {% if forloop.counter|add:2|divisibleby:3 %}
            <div class="collapsible-header" style="background-color: #ffec49;">
          {% endif %}<i class="material-icons">whatshot</i>{{book.title}}</div>
            <div class="collapsible-body">
                {% for link in book.link_set.all %}
                  <span>
                  <div class="collapsiblecards">
                    <div class="card card1 horizontal hoverable white-text blue-grey lighten-1">
                  <div class="card-stacked">
                      <div class="card_link" id="{{ link.id }}"  style="cursor: pointer;">
                      <div class="card-title center"><h5>{{link.title}}</h5></div>
                      <div class="card-content" id="{{ link.id }}">
                      <p>Books:
                        {% for book in link.books.all %}
                            <span class="chip">
                          <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>Tags:
                        {% for tag in link.tags.all %}
                            <span class="chip">
                          <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                            </span>
                        {% endfor %}
                      </p>
                      <p>{{link.comment_set.count}} comment(s)</p>
                    </div>
                      </div>
                    <div class="card-action">
                      <a href="{{link.url}}" target="_blank">Visit link</a>
                      {% if request.user == link.user %}
                        <a href="/link/{{link.id}}/edit">Edit</a>
                      {% endif %}
                    </div>
                  </div>
               </div>
                </div>
                  </span>
                {% endfor %}
            </div>
        </li>
      {% endfor %}
      </ul>
        
</div>
   
    <script>

        $(function () {

            var cards = $('.card_link');

            cards.click(function () {
                var id = this.id;
                var url = '/link/' + id;
                window.location.href = url;
            });

        });

        $(document).ready(function(){
        $('.collapsible').collapsible();
        });
          

    </script>

{% endblock%}

