{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        .card1
        {
            height : 320px;
        }
        .description
        {
            overflow: hidden;
            max-height : 65px;
        }
        .BooksP
        {
            overflow: hidden;
            height : 37px;
        }

        .TagsP
        {
            overflow: hidden;
            height : 37px;
        }
    </style>
    <div class="container">
        <div class="row">

            <div class="col s12 m12 l12">
                <ul class="collapsible popout" data-collapsible="expandable">
                    {% for book in view_books %}
                    <li>
                      {% if forloop.counter|add:0|divisibleby:3 %}
                        <div class="collapsible-header blue-grey white-text" >
                      {% endif %}
                      {% if forloop.counter|add:1|divisibleby:3 %}
                        <div class="collapsible-header blue-grey white-text" >
                      {% endif %}
                      {% if forloop.counter|add:2|divisibleby:3 %}
                        <div class="collapsible-header blue-grey white-text">
                      {% endif %}<i class="material-icons">whatshot</i>{{book.title}}</div>
                        <div class="collapsible-body">
                            <div class="row" style="padding: 2%">
                            {% for link in book.link_set.all %}
                                <div class="col s12 m12 l6">
                                <div class="card card1 horizontal hoverable blue-grey white-text lighten-1">
                              <div class="card-stacked">
                                  <div class="card_link" id="{{ link.id }}"  style="cursor: pointer;">
                                  <div class="card-title center"><h5>{{link.title}}</h5></div>
                                  <div class="card-content" id="{{ link.id }}">
                                  <p class="description">{{ link.description }}</p>
                                  <p class="BooksP">Books:
                                    {% for book in link.books.all %}
                                        <span class="chip">
                                      <strong><a href = "/../book/{{book.id}}/">{{book.title}}</a></strong>
                                        </span>
                                    {% endfor %}
                                  </p>
                                  <p class="TagsP">Tags:
                                    {% for tag in link.tags.all %}
                                        <span class="chip">
                                      <strong><a href = "/../tags/{{tag.name}}/">{{tag.name}}</a></strong>
                                        </span>
                                    {% endfor %}
                                  </p>
                                  <p>{{link.comment_set.count}} comment(s)</p>
                                </div>
                                  </div>
                                <div class="card-action">
                                  <a href="{{link.url}}" target="_blank">Visit link</a>
                                  {% if request.user == link.user %}
                                    <a href="/link/{{link.id}}/edit">Edit</a>
                                  {% endif %}
                                </div>
                              </div>
                           </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </li>
                  {% endfor %}
      </ul>
            </div>
        </div>
    </div>
    <script>

        $(function () {

            var cards = $('.card_link');

            cards.click(function () {
                var id = this.id;
                var url = '/link/' + id;
                window.location.href = url;
            });

        });

        $(document).ready(function(){
        $('.collapsible').collapsible();
        });
          

    </script>

{% endblock%}

