{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- This will help in zooming in mobile-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css"  media="screen,projection"/>

	<title>
		{% block title %}{% endblock %}
	</title>
    <script src = "/static/materialize/js/jquery.js"></script>
    <script src = '/static/materialize/js/materialize.js'> </script>
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/basic.css"  media="screen,projection"/>
	<!-- <link type="text/css" rel="stylesheet" href="/static/materialize/css/Color_theme.css" media="screen,projection"> -->
    {% block head %}
	{% endblock %}
</head>
<body>
    <nav class=" white-text" style="background-color: #26a69a">
        <div class="nav-wrapper">
            <a href="#" class="center brand-logo" >LINK BOOK</a>
            <a href="#" data-activates="mobile-demo"  class="button-collapse" ><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down left">
                <li class="active left"><a href="/">Home</a></li>
                <li>
                    <a class="left" href="#">About Us </a>
                </li>
                <li><a class="left" href="#">Project</a></li>
            </ul>
            <ul class="hide-on-med-and-down right">


                {% if not request.user.is_authenticated %}
                    <li ><a href="/signup" class="right">Sign Up</a></li>
                {% else %}
                    <li><a class="btn-floating  waves-effect waves-light green" href="#modal2" title="Create new book" ><i class="material-icons">queue</i></a></li>
                    <li><a class="btn-floating waves-effect waves-light green" href="#modal3" title="Create new link" ><i class="material-icons">note_add</i></a>
                    </li>
                    <li>
                     <img class="responsive-img circle hoverable"  height = "40px" width="40px" style="margin: 25%;  cursor:pointer;"  src="{{request.user.profile.pic}}" id="userProfilePic">
                    </li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="active "><a href="/">Home</a></li>
                <li><a href="#">About Us </a></li>
                <li><a  href="#">Project</a></li>
                {%  if not request.user.is_authenticated %}
                <li><a href="signup" > Sign Up</a></li>
                {% else %}
                    <li><a href="/profile" >Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="modal2" class="modal">

        <div class="modal-content">
            <h4 class="center">Create your own book</h4>
                <form method="post" action="{% url 'create_book' %}" role="form">
                {% csrf_token %}
                    <div class="input-field">
                        <i class="material-icons prefix">title</i>
                        <input class="input" type="text" id="TITLE" name="TITLE" maxlength="30" data-length="30">
                        <label for="TITLE">Title</label>
                    </div>
                    <div class="input-field">
                        <div class="input-field">
                            <i class="material-icons prefix">description</i>
                            <textarea class="materialize-textarea" type="text" id="DESCRIPTION" name="DESCRIPTION" maxlength="255" data-length="255"></textarea>
                                        <label for="DESCRIPTION">Description</label>
                        </div>
                        </div>

                    <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
                    <br><br>
                </form>
        </div>
    </div>

    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4 class="center">Create your link</h4>
                <form method="post" action="{% url 'create_link' %}" role="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field ">
                            <i class="material-icons prefix">open_in_browser</i>
                            <input type="url" class="input validate" name="URL" id="URL" autocomplete="autocomplete" required>
                            <label for="URL" class="active" data-error="Invalid URL, Example(Valid URL) : https://www.google.co.in." data-success="">URL</label>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field ">
                            <i class="material-icons prefix">title</i>
                            <input type="text" class="input" name="TITLE" id="TITLE" autocomplete="autocomplete" required maxlength="30" data-length="30">
                            <label for="TITLE" class="active">Title</label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field ">
                        <i class="material-icons prefix">assignment</i>
                        <input type="text" class="input" name="TAGS" id="TAGS" >
                        <label for="TAGS" class="active">Tags</label>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                         <div class="input-field ">
                        <i class="material-icons prefix">book</i>
                        <select multiple title="Choose the books in which the current link has to be saved" name="BOOKS" id="BOOKS">
                        <label class="active" for="BOOKS">BOOKS</label>
                            <option selected disabled>Choose Books here</option>
                            {% for book in books %}
                                <option> {{ book }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    </div>
                </div>
                    <div class="row">
                    <div class=" col s12 m12 l12">
                        <div class="input-field">
                        <i class="material-icons prefix">description</i>
                        <textarea class="input materialize-textarea" name="DESCRIPTION" id="DESCRIPTION" maxlength="1000" data-length="1000"></textarea>
                        <label for="DESCRIPTION" class="active">Description</label>
                    </div>
                    </div>
                </div>
                    <button type="submit" class="btn">{% trans 'Save' %}</button>
                </form>
        </div>
    </div>


	{% block body %}

    {% endblock body %}
    <script>

        $(function () {
            $(".button-collapse").sideNav();
            $('select').material_select();
        $('#userProfilePic').click(function () {
            var url = "/" + "{{ request.user.username }}";
            window.location.href = url;
        });
        $('.modal').modal();
        });


    </script>
</body>
</html>
