{% load staticfiles i18n %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#26a69a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#26a69a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- This will help in zooming in mobile-->
    <meta property="og:title" content="LinkBook | A social media for links!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://link-book.herokuapp.com/"/>
    <meta property="og:image" content="http://link-book.herokuapp.com/static/og_image.jpg"/>
    <meta property="og:site_name" content="LinkBook"/>
    <meta property="og:description" content="LinkBook lets you share and manage your links with ease. Create an account to get started!"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>
        LinkBook | {% block title %}{% endblock %}
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js'></script>
    <link type="text/css" rel="stylesheet" href="/static/library/css/basic.css" media="screen,projection"/>
    {% if not request.user.is_authenticated %}
        <!-- required for social login buttons -->
        <link rel="stylesheet" type="text/css" href="/static/library/css/override_buttons.css">
        <link rel="stylesheet" type="text/css"
              href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    {% endif %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

    <!-- <link type="text/css" rel="stylesheet" href="/static/materialize/css/Color_theme.css" media="screen,projection"> -->
    {% block head %}
    {% endblock %}
</head>

<style>

@import url('https://fonts.googleapis.com/css?family=Dosis');

</style>

<body background="{% static 'link.jpg' %}">

<div class="navbar-fixed">
<nav class=" white-text" style="background-color: #26a69a">
    <div class="nav-wrapper">
        <a href="#" class="center brand-logo" style="font-family: Dosis;font-weight: 800;font-size: 40px;">LinkBook</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


        {% if request.user.is_authenticated %}

            <ul class="hide-on-med-and-down right">
                <li id="nav-logout"><a href="/logout/?next={{ request.path }}" style="font-family: Dosis; font-weight:600; font-size: 18px;">Logout</a></li>
            </ul>
            <ul class="right">
                <li><a class='dropdown-button btn-floating waves-effect waves-light green' data-beloworigin="true"
                       href='#!' data-activates='NOTIFS' id="MYNOTIF" data-constrainwidth="false" height="50px"><i
                        id="NOTIF_ICON" class="material-icons">notifications</i></a></li>

            </ul>
        {% endif %}

        <ul class="hide-on-med-and-down left">
            <li id="nav-home" class=" left"><a href="/" style="font-family: Dosis; font-weight:600; font-size: 18px;">Home</a></li>
            <li id="nav-trending"><a class="left" href="/trending" style="font-family: Dosis; font-weight:600; font-size: 18px;">Trending</a></li>
            <li id="nav-project"><a class="left" href="/project" style="font-family: Dosis; font-weight:600; font-size: 18px;">Project</a></li>
            <li id="nav-aboutus"><a class="left" href="/aboutus" style="font-family: Dosis; font-weight:600; font-size: 18px;">About Us</a></li>
        </ul>
        
        <ul class="hide-on-med-and-down right">
            {% if not request.user.is_authenticated %}
                <li id="nav-login"><a class="right" href="#modal1" style="font-family: Dosis; font-weight:600; font-size: 18px;">Login</a></li>
                <li id="nav-signup"><a href="/signup" class="right" style="font-family: Dosis; font-weight:600; font-size: 18px;">Sign Up</a></li>
            {% else %}
                <li id="nav-profile" style="font-family: Dosis; font-weight:600; font-size: 18px;">
                    <img class="responsive-img circle hoverable" style="vertical-align: middle; cursor: pointer;"
                         height="40px" width="40px" src="{{ request.user.profile.pic }}" id="userProfilePicNavbar">&nbsp;{{ request.user.first_name }}
                </li>
                <li><a class="btn-floating  waves-effect waves-light green" href="#modal2" title="Create new book"><i
                        class="material-icons">queue</i></a></li>
                <li><a class="btn-floating waves-effect waves-light green" href="#modal3" title="Create new link"><i
                        class="material-icons">note_add</i></a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>
</div>
        <ul class="side-nav" id="mobile-demo">
            {% if request.user.is_authenticated %}
                <li id="mobile-nav-profile">
                    <div class="user-view">
                        <a href="/{{ request.user }}/"><img class="responsive-img small circle"
                                                            src="{{ request.user.profile.pic }}" style="position: relative; width: 90%; height:90%;">
                            <div class="black-text center-align" style="font-family: Dosis; font-weight:600; font-size: 18px;" > {{ request.user }} </div>
                        </a>
                    </div>
                </li>
            {% endif %}
            <li id="mobile-nav-home"><a href="/" style="font-family: Dosis; font-weight:600; font-size: 18px;">Home</a></li>

            {% if not request.user.is_authenticated %}
                <li id="mobile-nav-login"><a href="#modal1" style="font-family: Dosis; font-weight:600; font-size: 18px;">Login</a></li>
                <li id="mobile-nav-signup"><a href="/signup" style="font-family: Dosis; font-weight:600; font-size: 18px;"> Sign Up</a></li>
            {% else %}

                <li><a href="#modal2" title="Create new book" style="font-family: Dosis; font-weight:600; font-size: 18px;"><i class="material-icons">queue</i>Create new book</a>
                </li>
                <li><a href="#modal3" title="Create new link" style="font-family: Dosis; font-weight:600; font-size: 18px;"><i class="material-icons">note_add</i>Create new link</a>
                </li>

                <li><a href="/logout/?next={{ request.path }}" style="font-family: Dosis; font-weight:600; font-size: 18px;">Logout</a></li>
            {% endif %}
            <li id="mobile-nav-aboutus"><a href="/aboutus" style="font-family: Dosis; font-weight:600; font-size: 18px;">About Us </a></li>
            <li id="mobile-nav-project"><a href="/project" style="font-family: Dosis; font-weight:600; font-size: 18px;">Project</a></li>
            <li id="mobile-nav-trending"><a href="/trending" style="font-family: Dosis; font-weight:600; font-size: 18px;">Trending</a></li>
        </ul>

<!-- Dropdown Structure -->
<ul id='NOTIFS' class='dropdown-content' style="max-width: 90%; min-width: 50%">

</ul>
<!-- Notifications Modal -->
<div id="modal5" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container">
            <ul class="collection" id="mobile-notifications">

            </ul>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</div>
<!-- LOGIN modal -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col s12 m2 l2 xl2"></div>
                <div class="col s12 m8 l8 xl8">
                    <h5 class="center center-align blue-grey-text">LinkBook</h5>
                </div>
                <div class="col s12 m2 l2 xl2"></div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4 xl4">
                    <div>
                        <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">
                            <button class="btn black lighten-3 white-text btn-block "><span class="fa fa-github"
                                                                                            style="text-transform: lowercase"> | continue with GitHub</span>
                            </button>
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
                            <button class="btn btn-info blue white-text btn-block"><span class="fa fa-twitter"
                                                                                         style="text-transform: lowercase"> | continue with Twitter</span>
                            </button>
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                            <button class="btn btn-primary btn-block"><span class="fa fa-facebook"
                                                                            style="text-transform: lowercase"> | continue with Facebook</span>
                            </button>
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                            <button class="browser-default btn btn-danger btn-block"><span class="fa fa-google-plus"
                                                                                           style="text-transform: lowercase"> | continue with google</span>
                            </button>
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="/signup/" class="center center-align">
                            <button class="btn btn-default btn-block"><span class="fa fa-user"
                                                                            style="text-transform: lowercase"> | Sign Up locally</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col s12 m1 l1 xl1
                 hide-on-small-and-down" style="border-left: 1px solid black">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col s12 m7 l7 xl7">
                    <form method="post" action="{% url 'login' %}?next={{ request.path }}" role="form">
                        {% csrf_token %}
                        <div class="input-field{% if form.username.errors %} has-error{% endif %}">
                            <label for="username" class="active">{% trans 'Username' %}</label>
                            <input type="text" class="form-control" id="username" name="username">
                            {% for error in form.username.errors %}
                                <span class="red-text">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                        <div class="input-field{% if form.password.errors %} has-error{% endif %}">
                            <label for="password" class="active">{% trans 'Password' %}</label>
                            <input type="password" id="password" name="password">
                            {% for error in form.password.errors %}
                                <span class="red-text">{{ error }}</span><br>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn waves-effect waves-light">{% trans 'Log in' %}</button>
                        <br><br><br>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4 xl4"></div>
                <div class="col s12 m4 l4 xl4 center center-align">
                </div>
                <div class="col s12 m4 l4 xl4"></div>
            </div>
        </div>
    </div>
</div>
<!-- NEW BOOK modal -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4 class="center">New Book</h4>

        <form method="post" action="{% url 'create_book' %}" role="form">
            {% csrf_token %}
            <div class="input-field">
                <i class="material-icons prefix">title</i>
                <input class="input" type="text" id="TITLE" name="TITLE" maxlength="30" data-length="30">
                <label for="TITLE">Title</label>
            </div>
            <div class="input-field">
                <div class="input-field">
                    <i class="material-icons prefix">description</i>
                    <textarea class="materialize-textarea" type="text" id="DESCRIPTION" name="DESCRIPTION"
                              maxlength="255" data-length="255"></textarea>
                    <label for="DESCRIPTION">Description</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
            <br><br>
        </form>
    </div>
</div>
<!-- NEW LINK MODAL -->
<div id="modal3" class="modal">
    <div class="modal-content">
        <h4 class="center">New Link</h4>
        <form method="post" action="{% url 'create_link' %}" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col s12 m6 l6 xl6">
                    <div class="input-field ">
                        <i class="material-icons prefix">open_in_browser</i>
                        <input type="url" class="input validate" name="URL" id="URL" autocomplete="autocomplete"
                               required>
                        <label for="URL" class="active"
                               data-error="Invalid URL, Example(Valid URL) : https://www.google.co.in." data-success="">URL</label>
                    </div>
                </div>
                <div class="col s12 m6 l6 xl6">
                    <div class="input-field ">
                        <i class="material-icons prefix">title</i>
                        <input type="text" class="input" name="TITLE" id="TITLE" autocomplete="autocomplete" required
                               maxlength="30" data-length="30">
                        <label for="TITLE" class="active">Title</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6 xl6">
                    <div class="input-field ">
                        <i class="material-icons prefix">assignment</i>
                        <input type="text" class="input" name="TAGS" id="TAGS">
                        <label for="TAGS" class="active">Tags</label>
                    </div>
                </div>
                <div class="col s12 m6 l6 xl6">
                    <div class="input-field ">
                        <i class="material-icons prefix">book</i>
                        <select multiple title="Choose the books in which the current link has to be saved" name="BOOKS"
                                id="BOOKS">
                            <label class="active" for="BOOKS">BOOKS</label>
                            <option selected disabled>Choose Books here</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col s12 m12 l12 xl12">
                    <div class="input-field">
                        <i class="material-icons prefix">description</i>
                        <textarea class="input materialize-textarea" name="DESCRIPTION" id="DESCRIPTION"
                                  maxlength="1000" data-length="1000"></textarea>
                        <label for="DESCRIPTION" class="active">Description</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">{% trans 'Save' %}</button>
        </form>
    </div>
</div>
{% block body %}
{% endblock body %}
<script src="/static/library/js/base.js"></script>
<script>


    $(document).ready(function () {
        {% if request.user.is_authenticated %}
            //initialize
            var books = $("#BOOKS");
            var notifs = $("#NOTIFS");
            var notif_master = $("#MYNOTIF");

            LoadNotifications(1);
            books.material_select();
            notifs.material_select(true);
            notif_master.dropdown();
            window.setInterval(LoadNotifications, 30000, 0);
        {% endif %}

        // to load user profile url on click
        $(".button-collapse").sideNav();
        $('select').material_select();
        $('#userProfilePicNavbar').click(function () {
            var url = "/" + "{{ request.user.username }}";
            window.location.href = url;
        });
        // to auto-resize descrption field
        $('#DESCRIPTION').trigger('autoresize');
        $('.chips').material_chip();
        $('#TITLE, #DESCRIPTION').characterCounter();
    });

</script>
</body>
</html>

