{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- This will help in zooming in mobile-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.css"  media="screen,projection"/>

	<title>
		{% block title %}{% endblock %}
	</title>
    <script src = "/static/materialize/js/jquery.js"></script>
    <script src = '/static/materialize/js/materialize.js'> </script>
	<!-- <link type="text/css" rel="stylesheet" href="/static/materialize/css/Color_theme.css" media="screen,projection"> -->
    {% block head %}
	{% endblock %}
</head>
<style>
    .row
    {
        width: 100%;
    }
    .container
    {
        width: 100%;
    }
</style>
<body>
    <nav class=" white-text" style="background-color: #26a69a">
        <div class="nav-wrapper">
            <a href="#" class="center brand-logo" >LINK BOOK</a>
            <a href="#" data-activates="mobile-demo"  class="button-collapse" ><i class="material-icons">menu</i></a>
            <ul class="hide-on-med-and-down left">
                <li class="active left"><a href="/">Home</a></li>
                <li>
                    <a class="left" href="#">About Us </a>
                </li>
                <li><a class="left" href="#">Project</a></li>
            </ul>
            <ul class="hide-on-med-and-down right">


                {% if not request.user.is_authenticated %}
                    <li ><a href="/signup" class="right">Sign Up</a></li>
                {% else %}
                    {% if request.user.social_auth.get.provider == "facebook" %}
                    <li>

                    <img class="responsive-img circle" height = "40px" width="40px" style="margin: 12px"  src="https://graph.facebook.com/{{request.user.social_auth.get.uid}}/picture?type=square" /></li>

                {% elif request.user.social_auth.get.provider == "google-oauth2" %}
                    <li>
                    <script src="https://www.avatarapi.com/js.aspx?email={{request.user.social_auth.get.uid}}&size=40"></script>
                    </li>

                {% elif request.user.social_auth.get.provider == "github" %}
                    <li>
                     <img class="responsive-img circle" style="margin: 12px" height = "40px" width="40px"  src="https://avatars.githubusercontent.com/u/{{request.user.social_auth.get.uid}}" />
                    </li>

                {% elif request.user.social_auth.get.provider == "twitter" %}
                    <li>
                     <img class="responsive-img circle" style="margin: 12px" height = "40px" width="40px" src="https://twitter.com/{{request.user.social_auth.get.access_token.screen_name}}/profile_image?size=normal" />
                    </li>
                {% else %}
                    <li>
                     <img class="responsive-img circle" height="40px" width="40px" style="margin: 25%; margin-left: -10%" src="https://thebenclark.files.wordpress.com/2014/03/facebook-default-no-profile-pic.jpg" />
                    </li>
                {% endif %}
                    <li>Hi {{request.user.first_name}}!</li>
                    <li><a href="/profile" class="right">Profile</a></li>
                    <li><a href="/logout" class="right">Logout</a></li>
                {% endif %}

            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="active "><a href="/">Home</a></li>
                <li><a href="#">About Us </a></li>
                <li><a  href="#">Project</a></li>
                {%  if not request.user.is_authenticated %}
                <li><a href="signup" > Sign Up</a></li>
                {% else %}
                    <li><a href="/profile" >Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
	{% block body %}

    {% endblock body %}

    <script>

        $(function () {
            $(".button-collapse").sideNav();
        });
        $('select').material_select();
    </script>
</body>
</html>
