    .row
    {
        width: 100%;

    }
    .container
    {
        width: 100%;
        margin: 0% auto;       

    }

/*    .row > h1
    {
        margin-left: 15%;
    }
    .row > h2
    {
        margin-left: 15%;
    }
    .row > h3
    {
        margin-left: 15%;
    }
    .row > h4
    {
        margin-left: 15%;
    }
    .row > h5
    {
        margin-left: 15%;
    }
    .row > h6
    {
        margin-left: 15%;
    }

*/

    .notifications_normal
    {
        width: 100%;
      /*  word-break: break-all;*/
        word-wrap: break-word;
        padding: 1px;
        margin: 1px;
        white-space: pre-wrap;
      /*  font-size: small;*/
    }

    .notifications_unread
    {
        background-color: lightblue;
    }